/* Navigation */
#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

#main-nav ul,
#main-nav a {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.5rem;
}

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

#home-articles .articles-container > *:last-child {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#showcase .showcase-container {
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  /* Stack grid items */
  #home-articles .articles-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }

  #home-articles .articles-container > *:first-child {
    gap: 0;
  }

  #home-articles .articles-container > *:last-child {
    grid-column: 1;
    display: inline;
    margin-bottom: 1.5rem;
  }

  .category {
    margin: 0.5rem 0 1rem !important;
  }

  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }

  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:nth-child(2) {
    border-bottom: 1px dotted #444;
    padding-bottom: 1rem;
  }

  .page-container {
    grid-template-columns: 1fr;
    margin-top: -0.5rem;
  }

  .page-container > *:first-child {
    grid-row: 1;
  }

  section {
    margin-bottom: -2rem;
  }
}
