:root {
  --primary-color: #c72727;
  --secondary-color: #00aeef;
  --light-color: #edeef3;
  --dark-color: #000066;
  --red-color: #ed1c24;
  --white-color: #f4f4f4;
  --black-color: #000000;
  --max-width: 1100px;
}

.category {
  --sports-color: #6e8ebf;
  --politics-color: #52b788;
  --tech-color: #f26522;
  --economy-color: #c72564;
  --health-color: #417505;
  --opinion-color: #009fe4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  line-height: 1.4;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 0.5rem 0 1rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Secular One', sans-serif;
  margin-bottom: 0.55rem;
  line-height: 1.3;
  font-weight: normal;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-politics {
  background: var(--politics-color);
}

.category-sports {
  background: var(--sports-color);
}

.category-tech {
  background: var(--tech-color);
}

.category-economy {
  background: var(--economy-color);
}

.category-health {
  background: var(--health-color);
}

.category-opinion {
  background: var(--opinion-color);
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-light {
  background: var(--light-color);
  color: #333;
}

.btn-black {
  background: var(--black-color);
}

.btn:hover {
  opacity: 0.9;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.l-heading {
  font-size: 3rem;
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 3px;
}

.card img {
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-dark a,
.bg-primary a,
.bg-secondary a {
  color: var(--white-color);
  font-weight: normal;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-n1 {
  margin-top: -1rem;
}

.mt-n2 {
  margin-top: -2rem;
}

.mt-n3 {
  margin-top: -3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-n1 {
  margin-bottom: -1rem;
}

.mb-n2 {
  margin-bottom: -2rem;
}

.mb-n3 {
  margin-bottom: -3rem;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.meta .category {
  margin-top: 0.4rem;
}

/* Inner pages grid container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

/* Nav */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 140px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
  border-radius: 3px;
}

#main-nav ul li a.current {
  background: var(--red-color);
  color: #fff;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #333;
  margin-left: 0.5rem;
}

#main-nav .social i:hover {
  color: rgb(112, 110, 110);
}

/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

#showcase::before {
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

#showcase .showcase-content a {
  color: var(--white-color);
}

/* Hoe Articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
  grid-column: 2 / span 2;
}

/* Footer */
#main-footer {
  background: var(--dark-color);
  color: var(--white-color);
}

#main-footer h2,
#main-footer h3 {
  font-weight: normal;
}

#main-footer a {
  color: var(--white-color);
}

#main-footer img {
  width: 120px;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  background: #1a1a6e;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.85rem;
  margin-bottom: -2.5rem;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
  font-size: 1rem;
}
